* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #c7c6c6; }
  header .navbar__padding {
    padding-top: 25px;
    padding-bottom: 25px; }
    header .navbar__padding .tittle--primary__style {
      font-size: 35px;
      line-height: 15px;
      margin-bottom: 25px;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-style: italic; }
    header .navbar__padding .tittle--secondary__style {
      font-size: 30px;
      line-height: 14px;
      margin-bottom: 25px;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
    header .navbar__padding .justify--content__end {
      justify-content: end;
      padding-left: 40px; }
      header .navbar__padding .justify--content__end .navbar--collapse__padding {
        padding-right: 40px; }
        header .navbar__padding .justify--content__end .navbar--collapse__padding .nav--link__style {
          font-size: 20px;
          padding-right: 8px;
          padding-left: 8px; }
        header .navbar__padding .justify--content__end .navbar--collapse__padding .nav--link__contact {
          font-size: 20px;
          text-align: center;
          border: 3px solid white;
          border-radius: 20px;
          padding-right: 8px;
          padding-left: 8px;
          background-color: #353535; }
        header .navbar__padding .justify--content__end .navbar--collapse__padding .nav--link__contact:hover {
          border-color: #969696;
          background-color: #4e4e4e;
          transition: 1000ms; }

main {
  padding-bottom: 160px;
  background-color: white; }

.contenedores__padding {
  padding-top: 130px; }

.home--containder__padding {
  padding-top: 120px;
  padding-left: 80px;
  padding-right: 80px; }
  .home--containder__padding .home--item__style {
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px; }
    .home--containder__padding .home--item__style h3 {
      padding-top: 15px;
      padding-bottom: 15px; }
    .home--containder__padding .home--item__style img {
      width: 100%;
      height: auto; }

.nosotros--container__padding {
  padding-top: 50px; }

.contacto--img__box {
  border-bottom: 3px solid black; }
  .contacto--img__box img {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: center; }
  .contacto--img__box .contacto--title__position {
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translate(-50%, -50%); }
  .contacto--img__box .contacto--tittle__style {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: #72f2ff;
    background: linear-gradient(90deg, #72f2ff 0%, #cdfeff 50%, #fafafa 100%); }

@supports (object-fit: cover) {
  .contacto--img__box img {
    height: 100%;
    object-fit: cover;
    object-position: center center; } }

.referencias--container__styleBox {
  background-color: #dbc7c7;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5); }
  .referencias--container__styleBox .referencias--contactos__padding {
    padding-top: 10px;
    padding-bottom: 10px; }

.referencias--container__styleBox:hover {
  transition: 1000ms;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8); }

.form--container_stylebox {
  background-color: #dbc7c7;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5); }
  .form--container_stylebox div {
    text-align: center; }
    .form--container_stylebox div label {
      padding-top: 20px; }
    .form--container_stylebox div .form--input__style {
      border: 1.5px solid #5f5fc9;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 8px;
      margin: auto;
      width: 500px; }
    .form--container_stylebox div textarea {
      border: 1.5px solid #5f5fc9;
      border-radius: 8px;
      margin: auto;
      width: 500px; }
    .form--container_stylebox div .btn--reset__padding {
      padding-top: 30px;
      padding-left: 170px;
      padding-bottom: 40px; }
    .form--container_stylebox div .btn--submit__padding {
      padding-top: 30px;
      padding-right: 170px;
      padding-bottom: 40px; }

.footer-contenido_bg {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #19181a; }
  .footer-contenido_bg .footer-items_style {
    color: white;
    text-align: center; }
  .footer-contenido_bg .map-contenedor_padding {
    padding: 10px;
    border-radius: 10px;
    overflow: hidden; }
    .footer-contenido_bg .map-contenedor_padding #map {
      height: 170px;
      width: 100%; }

.footer-derechos_bg {
  padding: 0;
  background-color: black; }
  .footer-derechos_bg .footer-derechos_style {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
