* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

//Header
header{
    background-color: rgb(199, 198, 198);
    .navbar__padding{
        padding-top: 25px;
        padding-bottom: 25px;
        .tittle--primary__style{
            font-size: 35px;
            line-height: 15px;
            margin-bottom: 25px;
            font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-style: italic;
        }
        .tittle--secondary__style{
            font-size: 30px;
            line-height: 14px;
            margin-bottom: 25px;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        .justify--content__end{
            justify-content: end;
            padding-left: 40px;
            .navbar--collapse__padding{
                padding-right: 40px;
                .nav--link__style{
                    font-size: 20px;
                    margin-left: 10px;
                    margin-right: 10px;
                    padding-right: 8px;
                    padding-left: 8px;
                }
                .nav--link__style:hover{
                    background-color: rgb(53, 53, 53);
                    font-size: 20px;
                    border: 3px solid white;
                    border-radius: 20px;
                    transition: 1000ms;
                }
                .nav--link__contact{
                    font-size: 20px;
                    text-align: center;
                    border: 3px solid white;
                    border-radius: 20px;
                    padding-right: 8px;
                    padding-left: 8px;
                    background-color: rgb(53, 53, 53);
                }
                .nav--link__contact:hover{
                    border-color: rgb(150, 150, 150);
                    background-color: rgb(78, 78, 78);
                    transition: 1000ms;
                }
            }
        }
    }
}



//Main
main{
    padding-top: 150px;
    padding-bottom: 160px;
    background-color: white;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.title--img__box{
    padding-top: 200px;
    border-bottom: 3px solid black;
    img{
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .index--title__position{
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .index--title__style{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 20px;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .title__position{
        position: absolute;
        top: 60%;
        left: 5%;
        transform: translate( -50%, -50% );
    }
    .tittle__style{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 180px;
        padding-right: 30px;
        background: rgb(114,242,255);
        background: linear-gradient(90deg, rgba(114,242,255,1) 0%, rgba(205,254,255,1) 50%, rgba(250,250,250,1) 100%);
    }
}
@supports(object-fit: cover){
    .title--img__box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.contenedores__padding{
    padding-top: 130px;
}


    //Index
.home--img__positionBox{
    border-bottom: 3px solid black;
    position: relative;
    display: inline-block;
    text-align: center;
    img{
        width: 100%;
        height: auto;
    }
    .home--title__style{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 40px;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        h3{
            font-size: 40px;
            font-style: italic;
        }
        p{
            font-size: 30px;
        }
        a{
            font-size: 24px;
            width: 350px;
            height: 60px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a:hover{
            transition: 1000ms;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.7);
        }
    }
}
.home--title__style{
    padding-top: 50px;
    padding-left: 80px;
    h3{
        font-size: 26px;
    }
    p{
        font-size: 20px;
    }
}
.home--proyectos__Box{
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    .home--proyectos__centrado{
        text-align: center;
        .home--proyectos__itemBox{
            position: relative;
            display: inline-block;
            text-align: center;
            overflow: hidden;
            img{
                transition: all o.3s ease-in-out;
            }
            img:hover{
                transition: 1000ms;
                transform: scale(1.2);
            }
            .home--title__centrado{
                position: absolute;
                font-size: 18px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.home--resenia__bg{
    background-color: blanchedalmond;
}







    //Nosotros
.nosotros--container__padding{
    padding-top: 50px;
}




    //Contacto
.referencias--container__styleBox{
    padding: 40px;
    font-size: 22px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    .referencias--contactos__padding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.form--container_stylebox{
    text-align: center;
    font-size: 22px;
    .form--row__padding{
        padding-top: 30px;
    }
    .form--input__style{
        border: 1.5px solid rgb(95, 95, 201);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        border-radius: 8px;
        margin: auto;
        width: 700px;
        height: 50px;
    }
    textarea{
        border: 1.5px solid rgb(95, 95, 201);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding-top: 5px;
        padding-left: 20px;
        margin: auto;
        width: 700px;
    }
    .form--btn__padding{
        padding-top: 30px;
        padding-bottom: 40px;
        input{
            width: 200px;
            height: 50px;
            font-size: 20px;
        }
        input:hover{
            transition: 1000ms;
            box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.7);
        }
    }
}





//Footer
.footer-contenido_bg{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(25, 24, 26);
    font-size: 19px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    .footer-items_style{
        color: white;
        text-align: center;
    }
    .map-contenedor_padding{
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        #map {
            height: 170px;
            width: 100%;
        }
    }
}
.footer-derechos_bg{
    padding: 0;
    background-color: rgb(0, 0, 0);
    .footer-derechos_style{
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}