* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

//Header
header{
    background-color: rgb(199, 198, 198);
    .navbar__padding{
        padding-top: 25px;
        padding-bottom: 25px;
        .tittle--primary__style{
            font-size: 35px;
            line-height: 15px;
            margin-bottom: 25px;
            font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-style: italic;
        }
        .tittle--secondary__style{
            font-size: 30px;
            line-height: 14px;
            margin-bottom: 25px;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        .justify--content__end{
            justify-content: end;
            padding-left: 40px;
            .navbar--collapse__padding{
                padding-right: 40px;
                .nav--link__style{
                    font-size: 20px;
                    padding-right: 8px;
                    padding-left: 8px;
                }
                .nav--link__contact{
                    font-size: 20px;
                    text-align: center;
                    border: 3px solid white;
                    border-radius: 20px;
                    padding-right: 8px;
                    padding-left: 8px;
                    background-color: rgb(53, 53, 53);
                }
                .nav--link__contact:hover{
                    border-color: rgb(150, 150, 150);
                    background-color: rgb(78, 78, 78);
                    transition: 1000ms;
                }
            }
        }
    }
}

//Main
main{
    padding-bottom: 160px;
    background-color: white;
}
.contenedores__padding{
    padding-top: 130px;
}

    //Index
.home--containder__padding{
    padding-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    .home--item__style{
        text-align: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 10px;
        h3{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}




    //Nosotros
.nosotros--container__padding{
    padding-top: 50px;
}




    //Contacto
.title--img__box{
    padding-top: 200px;
    border-bottom: 3px solid black;
    img{
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .title__position{
        position: absolute;
        top: 60%;
        left: 5%;
        transform: translate( -50%, -50% );
    }
    .tittle__style{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 180px;
        padding-right: 30px;
        background: rgb(114,242,255);
        background: linear-gradient(90deg, rgba(114,242,255,1) 0%, rgba(205,254,255,1) 50%, rgba(250,250,250,1) 100%);
    }
}
@supports(object-fit: cover){
    .contacto--img__box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.referencias--container__styleBox{
    background-color: rgb(219, 199, 199);
    border: 3px solid blue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    .referencias--contactos__padding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.referencias--container__styleBox:hover{
    transition: 1000ms;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8);
}

.form--container_stylebox{
    background-color: rgb(219, 199, 199);
    border: 3px solid blue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    div{
        text-align: center;
        label{
            padding-top: 20px;
        }
        .form--input__style{
            border: 1.5px solid rgb(95, 95, 201);
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 8px;
            margin: auto;
            width: 500px;
        }
        textarea{
            border: 1.5px solid rgb(95, 95, 201);
            border-radius: 8px;
            margin: auto;
            width: 500px;
        }
        .btn--reset__padding{
            padding-top: 30px;
            padding-left: 170px;
            padding-bottom: 40px;
        }
        .btn--submit__padding{
            padding-top: 30px;
            padding-right: 170px;
            padding-bottom: 40px;
        }
    }
}





//Footer
.footer-contenido_bg{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(25, 24, 26);
    .footer-items_style{
        color: white;
        text-align: center;
    }
    .map-contenedor_padding{
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        #map {
            height: 170px;
            width: 100%;
        }
    }
}
.footer-derechos_bg{
    padding: 0;
    background-color: rgb(0, 0, 0);
    .footer-derechos_style{
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}